@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded bg-sky-200 px-2 py-1 text-base font-semibold text-sky-600 shadow-sm hover:bg-sky-300;

  &.is-disabled {
    @apply opacity-50 bg-gray-50 pointer-events-none text-gray-600 hover:bg-gray-50
  }
  &.btn-secondary {
    @apply bg-sky-400 text-sky-800 hover:bg-sky-300;
  }
}

input {
    @apply border-2 border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-sky-600 focus:border-transparent;  
    &:focus {
        @apply ring-2 ring-sky-600;
    }
    &.has-error {
        @apply border-red-500;
    }
}

div.mt-2:nth-child(4) {
  display: flex;
  flex-direction: column;
}

.ag-theme-quartz {
  flex-grow: 1;
  flex-direction: column;
}

#headlessui-disclosure-panel-\:r2v\: {
  display: flex;
  flex-grow: 1;
  height: auto;
}

.ag-theme-quartz>div:nth-child(2) {
  min-height: 100%;
  max-height: max-content;
  flex-grow: 1;
}


.ag-root-wrapper {
  max-height: min-content;
  height: auto;
}

.ag-root-wrapper-body.ag-layout-normal {
flex: none;
height: auto;
min-height: unset;
}


.marks {
  width: 100%;
  height: 100%;
}


.vega-embed {
  display: flex;
}


.sm\:relative {
  position: initial;
  z-index: 40;
}

.max-w-xl {
  left: 0;
}

#headlessui-popover-panel-\:r13\: {
  left: 0;
  right: 0;
  width: 100%;
}

form.flex>div:nth-child(1) {
  width: 100%;
}