@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600;

  &.is-disabled {
    @apply pointer-events-none bg-gray-50 text-gray-600 opacity-50 hover:bg-gray-50;
  }
  &.btn-secondary {
    @apply bg-white text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
  }
}

input {
  @apply rounded-md border-2 border-gray-300 px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-sky-600;
  &:focus {
    @apply ring-2 ring-sky-600;
  }
  &.has-error {
    @apply border-red-500;
  }
}

// div.mt-2:nth-child(4) {
//   display: flex;
//   flex-direction: column;
// }

// .ag-theme-quartz {
//   flex-grow: 1;
//   flex-direction: column;
// }

// #headlessui-disclosure-panel-\:r2v\: {
//   display: flex;
//   flex-grow: 1;
//   height: auto;
// }

// .ag-theme-quartz>div:nth-child(2) {
//   min-height: 100%;
//   max-height: max-content;
//   flex-grow: 1;
// }

// .ag-root-wrapper {
//   max-height: min-content;
//   height: auto;
// }

// .ag-root-wrapper-body.ag-layout-normal {
// flex: none;
// height: auto;
// min-height: unset;
// }

.marks {
  width: 100%;
  height: 100%;
}

.vega-embed {
  display: flex;
}

.sm\:relative {
  position: initial;
  z-index: 40;
}

form.flex > div:nth-child(1) {
  width: 100%;
}
